.products-container{
  min-height: calc(100vh - 60px - 86px);
}
.card-product{
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}
.grid {
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 0fr));
    grid-template-rows: masonry;
  }
.category:hover{
  cursor: pointer;
  color: #3b82f6;
} 
.right {
  min-height: calc(100vh - 60px - 86px);
  background-image: url(../../assets/p3.jpg);
 background-repeat: repeat-y;
 background-size: 100% auto;
}
.color-item {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  cursor: pointer;
  opacity: 0.5;
  margin: 1%;
}
.color-group {
  display: flex;
  align-items: center;
}


.masonry-with-columns {
  columns: 6 200px;
  column-gap: 1rem;}
.masonry-with-columns div {
    width: 150px;
    background: #EC985A;
    color: white;
    margin: 0 1rem 1rem 0;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-family: system-ui;
    font-weight: 900;
    font-size: 2rem;
  } 



  
  