.about1{
    width: calc(100vw);
    height: calc(100vh - 80px);
    background-image: url(../../assets/about1.jpg);
    background-size: 100% 100%;
}
.message{
    background-image: url(../../assets/p1.jpg);
    background-size: 100% 100%;
    background-repeat: repeat;
}
@media only screen and (max-width: 600px) {
    .about1{
        width: calc(100vw);
        height: auto;
        background-image: url(../../assets/about1.jpg);
        background-size: 100% 100%;
    }
  }